<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <a mat-button routerLink="/home">
          <mat-icon>home</mat-icon>Home
        </a>
        <a mat-button *ngIf="showAdminBoard" routerLink="/admin">
          <mat-icon>admin_panel_settings</mat-icon>Admin
        </a>
        <a mat-button *ngIf="isLoggedIn" routerLink="/user">
          <mat-icon>person</mat-icon>Usuarios
        </a>
        <button *ngIf="isLoggedIn" mat-raised-button [matMenuTriggerFor]="usuarioMenu">
          <mat-icon>account_box</mat-icon>{{ name }}
        </button>
        <mat-menu #usuarioMenu="matMenu" yPosition="below">
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>Logout
          </button>
        </mat-menu>
        <a mat-button *ngIf="!isLoggedIn" routerLink="/login">
          <mat-icon>login</mat-icon>Login
        </a>
      </nav>
    </div>
  </mat-toolbar-row>
</mat-toolbar>