<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="row between-xs middle-xs header-row">
        <nav>
            <a mat-button routerLink="/home"><mat-icon>home</mat-icon>Home</a>
            <a mat-button routerLink="/product">product</a>
            <a mat-button routerLink="/user">user</a>
            <a mat-raised-button matBadge="4" matBadgeColor="warn">
                <mat-icon>face</mat-icon>Usuario
            </a>
        </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
